* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 1980px;
  overflow-x:hidden!important;
  margin: 0 auto;
  color:  #252525 !important;
  background: #F2F2F2;
}

a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: 'Avenir';
  src: url('/fonts/Avenir-Regular.otf');
}

@font-face {
  font-family: 'Noto Sans';
  src: url('/fonts/NotoSans-Regular.ttf');
}
