$primaryColor: var(--primaryColor);
$secondColor: var(--secondaryColor);
$hoverColor: var(--hoverColor);
$focusColor: var(--focusColor);
$padding: var(--padding);
$spacing: var(--spacing);

:export {
    primaryColor: $primaryColor;
    secondColor: $secondColor;
    hoverColor: $hoverColor;
    focusColor: $focusColor;
    spacing: $spacing;
    padding: $padding;
}
